// IMPORTANT!!
// CHAGE THIS FILE NAME TO '.env.production' or '.env.development' TO USE

NODE_ENV=production
PORT=3000

# MySQL
DB_DATABASE=stickyboard
DB_HOST=localhost
DB_USER=root
DB_PASS=password
DB_PORT=3306
DB_DIALECT=mysql

# Firebase
FIREBASE_API_KEY=your_firebase_api_key
FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain
FIREBASE_DATABASE_URL=your_firebase_database_url
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket
FIREBASE_MESSAGING_SENDER_ID=your_firebase_messaging_sender_id
FIREBASE_APP_ID=your_firebase_app_id
FIREBASE_MEASUREMENT_ID=your_firebase_measurement_id

SECRET_KEY=yoursecretkey

GOOGLE_ANALYTICS_TRACKING_ID=your_ga_tracking_id
