<!-- view/index.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Meta tags for preview -->
        <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
        <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
        <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
        <meta property="og:image" content="/static/image/StickyBoard_logo_only.png" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="/static/image/favicon.png" type="image/x-icon">
        <link rel="icon" href="/static/image/favicon.png" type="image/x-icon">

        <!-- stickyboard-openweathermap, stickyboard-yahoo-weather CSS -->
        <link rel="stylesheet" href="/static/css/weather-icons.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div id="root"></div>

        <!-- Webpack Live Reload plugin -->
        <script src="http://localhost:35729/livereload.js"></script>
    </body>
</html>
